
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 26px;
  height: 20px;
  left: 26px;
  top: 26px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #ffffff;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
}

.bm-item-list > nav {
  height: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

#side-menu-header {
  position: relative;
  height: 100px;
  background-color: #2D3E50;
  background-image: url('./schematiks-logo.png');
  background-repeat: no-repeat;
  background-size: 75% 50%;
  background-position: center;
  color: white;
}

#side-menu-header-title {
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
  font-weight: bolder;
}

#side-menu-header-add-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 5px;
}

.server-list-item {
  line-height: 40px;
}

.server-list-item:hover {
  background-color: #e5f9f7;
}

.server-list-item-title {
  margin-left: 10px;
  font-size: smaller;
}
