 
body {
  background-color: #375867;
}

main {
  width: 100%;
  height: 100%;
  margin-left: 48px;
}

/* Sidebar Component Styles */
#boomers-menu-icon-area {
  min-width: 48px;
}

#boomers-menu-icon-area ul li {
  font-size: 25px;
}

#boomers-menu-icon-area ul li:hover {
  color: #f4ab5d;
}

/* Home Component Styles */
#home-container {
  height: 100%;
  width: 100%;
  background-image: url('../assets/images/wallpaper-home.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}